/* 
    @package sunsettheme
*/

.sunset_general_form,
.sunset_sidebar_preview{
    display: inline-blog;
    float: left;
}

.sunset_sidebar_preview{
    background-color: #293462;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin-right: 30px;
}
.sunset_sidebar *{
    color: white;
}
.profile_img img{
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 100%;
}